* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Color Pallete */
:root {
  --color-col-1: #bfbfbf;
  --color-col-2: #e7e6e6;
  --color-item: #afabab;
  --color-num: #d0cece;
  --color-border: #979595;
}

html {
  /*62.5 percent of 16px*/
  font-size: 62.5%;
}
body {
  background-color: white;
  font-size: 1.3rem;
  font-family: calibri, sans-serif;
}
.wrapper {
  background-color: white;
  margin: 2rem;
}
.container {
  background-color: var(--color-border);
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2px;
  border: 2px solid var(--color-border);
  border-collapse: collapse;
  min-height: 90vh;
  height: auto;
}

.sidebar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-col-1);
  position: relative;
}

.item-box {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  background-color: var(--color-col-2);
  position: relative;
  width: 100%;
}

.item-case {
  text-align: center;
  width: 86%;
}
.item {
  background-color: var(--color-item);
  border: 2px solid var(--color-border);
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  height: 65px;
  width: 100%;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-num);
  margin-left: 1rem;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 100%;
}
.circle p {
  font-size: 1.8rem;
}
.form-container {
  background-color: var(--color-item);
  display: flex;
  font-size: 1.9rem;
  font-weight: 500;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: center;
  border-bottom: 2px solid var(--color-border);
  border-top: 2px solid var(--color-border);
  padding: 2px 0 6px;
  width: 100%;
}
label {
  display: block;
  text-align: center;
}
input {
  background-color: #d9d9d9;
  font-size: 1.2rem;
  padding: 2px;
  margin-top: 6px;
  text-align: center;
  outline: 0;
  border: none;
  width: 90px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  color: black;
  font-family: Calibri, sans-serif;
  font-size: 1.4rem;
  /* font-weight: 500; */
}
.obj {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  padding: 12px;
}
.col-1 {
  border-top: 2px solid var(--color-border);
  border-right: 2px solid var(--color-border);
  left: 0;
}
.col-2 {
  border-top: 2px solid var(--color-border);
  border-left: 2px solid var(--color-border);
  background-color: var(--color-col-1);
  right: 0;
}
